body {
    margin: 1;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #3B424A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  .title {
    grid-area: header;
    text-align: center;
    font-size: calc(5vw + 2rem);
    font-weight: 600;
    color: black;
    letter-spacing: 2px;
    margin: -0.05em 0 0.5em;
  }
  
  
  
  .task-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
  }
  
  
  
  form {
    display: flex;
  }
  
  .btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
  }
  
  .btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
  }
 
  .new {
    background: transparent;
    border: 0;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;
    order: 2;
  }
  
  
  .new.list {
    font-size: 1.1rem;
  }
  
  .new.task {
    margin-bottom: 0;
  }
  
  .active-list {
    color: tomato ;
    font-weight: 700;
  }

  .todo-header {
    padding: var(--spacer);
    background: #e4e4e4;
    color: turquoise;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 
  .task-count {
    margin: 0;
    font-size: 1rem;
  }
  
  .todo-body {
    padding: 0.25em;
    position: relative;
  }
  
  .new-task-creator .create {
    color: transparent;
  }
  
  [type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  
 